<div class="uk-section uk-section-secondary">
    <div class="uk-container">

        <div class="uk-flex-middle uk-grid-margin uk-grid uk-grid-stack" data-uk-grid>
            <div class="uk-width-1-1@m uk-first-column">
                <div class="uk-margin-small uk-text-center ">
                    <img width="100" height="25" src="{{ asset('build/images/logo.svg') }}" alt="Pimcore GmbH" data-uk-svg>
                </div>
            </div>
        </div>

        <div class="uk-flex-middle uk-margin uk-grid" data-uk-grid>
            <div class="uk-width-expand@s uk-first-column">
                <h3 class="uk-text-center">Visit Us</h3>
                <div class="uk-margin uk-text-center">
                    Söllheimstrasse 16<br />
                    Salzburg, Austria
                </div>
            </div>
            <div class="uk-width-expand@s">
                <h3 class="uk-margin-remove-top uk-text-center">Contact</h3>
                <div class="uk-margin uk-text-center">
                    <a class="uk-link-reset" href="mailto:{{ 'info@pimcore.com'|obfuscateEmail }}">{{ 'info@pimcore.com'|obfuscateEmail }}</a><br />
                    <a class="uk-link-reset" href="tel:+43(0)662876606230">+43 (0)662 876 606 230</a>
                </div>
            </div>
            <div class="uk-width-expand@s">
                <h3 class="uk-text-center">Hours</h3>
                <div class="uk-margin uk-text-center">
                    Mon – Fri 9 am – 17 pm<br/>
                    Saturday/Sunday Closed
                </div>
            </div>
        </div>
    </div>
</div>
